<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.xueluwu.android.organizeyourcloset">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true">
    </supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="io.github.xueluwu.android.organizeyourcloset.MainActivity"
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.xueluwu.android.organizeyourcloset.ClosetActivity"
            android:configChanges="locale|orientation|layoutDirection"
            android:label="@string/closet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="io.github.xueluwu.android.organizeyourcloset.CalendarActivity"
            android:configChanges="locale"
            android:label="@string/calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="io.github.xueluwu.android.organizeyourcloset.CalendarAddActivity"
            android:configChanges="locale"
            android:parentActivityName="io.github.xueluwu.android.organizeyourcloset.CalendarActivity"
            android:label="@string/add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="io.github.xueluwu.android.organizeyourcloset.ShopActivity"
            android:configChanges="locale"
            android:label="@string/shop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="io.github.xueluwu.android.organizeyourcloset.MenuActivity"
            android:configChanges="locale"
            android:label="@string/menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="io.github.xueluwu.android.organizeyourcloset.SubmenuActivity"
            android:configChanges="locale"
            android:parentActivityName="io.github.xueluwu.android.organizeyourcloset.MenuActivity"
            android:label="@string/menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="io.github.xueluwu.android.organizeyourcloset.ClosetItemActivity"
            android:configChanges="locale"
            android:theme="@style/AppTheme.NoActionBar"/>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.github.xueluwu.android.organizeyourcloset.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>